@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .p-btn {
    @apply px-2
  }

  .hp-body {
    /* height: 80%;    */
    
    /* Hide scrollbar for IE, Edge and Firefox */
    
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
 
  }
  .hp-body::-webkit-scrollbar {
    display: none;
  }
 
}