:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dominant: red;
  --accent: black;
  --secondary: black;
  --themecolor: white;
  --wpadding: 0 20px;
  --progressbar: 20%
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HomeLayout */

.home {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas: 
  'homeNav'
  'homeBody'
  'homePlayer';
}

 /* NavBar */
.hp-nav {
  background-color: var(--accent);
  grid-area: 'homeNav';
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.226);

  
  display: grid;
  grid-template-columns: 20% 45% 35%;
  grid-template-rows: 1fr;
  grid-template-areas:
  'logo space links';
  padding: 0 30px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 'logo';
  color: var(--dominant)
  
}

.space {
  grid-area: 'space';
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-area: 'links';

}

link {
  height: 100%;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
}
.a {
  text-align: center;
  margin: 15px auto;
  grid-area: 'a';
}

.active {
  background-color: rgba(255, 0, 0, 0.5);
}

  /* Body */
  
  .hp-body {
    color: rgba(245, 245, 245, 0.842);
    grid-area: 'homeBody';
    overflow: auto;
    background: radial-gradient(rgb(114, 2, 2),black);
  }
.hp-body::-webkit-scrollbar {
  width: 0;
}

.previews-container {
  width: 100%;
  gap: 20px;
  align-items: center;
}

.body-container {
  padding: 0 30px;
}

.prev-card {
  color: white;
  max-width: fit-content;
  border: 2px solid rgb(59, 0, 0);
  border-radius: 1rem;
  background-color: rgba(255, 0, 0, 0.596);
}
.prev-card a .card {
  border-radius: 1rem;
  backdrop-filter: blur(10%);
  background-color: rgba(49, 0, 0, 0.61);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.prev-card a {
  color: white;
}
.prev-card a .card div:nth-child(2) {
padding: 10px;
}
.card-image {
  margin-top: 10px;
  width: fit-content;
}
.card-image img {
  border-radius: 1rem;
  width: 200px;
}

/* season details */

.season-block a {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 7%;
}
.season-block {
  border: 1px solid black;
}
.season-image img {
  width: 40%;
  border: 2px solid var(--dominant);
  border-radius: 10px;
}
.season-image {
  width: 40%;}
.season-text {
  width: 60%;
}

.seasons-tab {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px auto;
  grid-template-areas: 
  'seasons-nav'
  'seasons-body';
}

.seasons-container {
  margin-top: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 70vw;
  margin: 0 30px;
}
.seasons-container::-webkit-scrollbar {
  width:0;
  height: 0;
}

.seasons-nav {
  background-color: var(--accent);
  grid-area: 'seasons-nav';
  display: flex;
  flex-direction: row;
  gap:20px;
  align-items: center;  
  padding: 0 30px;
}
.season-body {
  grid-area: 'seasons-body';
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30%;
}

.row {
  padding: 0;
  padding-left: 0;
  padding-right: 0;
}
.row>* {
  padding: 0;
  padding-left: 0;
  padding-right: 0;
}

/* Episode details */

.episode-block {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 1px solid #8a0707;
  margin: 1rem;
  padding-left: 1rem;
  border-radius: .5rem;
}

/* Player */

.hp-player {
  grid-area: 'homePlayer';
  background-color: black;  
}

.player-container {
  color: white;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 60% 40%;
  grid-area: 'a' 'b';
}
/* Controls */
.controls {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  grid-area: 1/1/2/2;
}
.controls div {
  cursor: pointer;
}

/* Progress bar */
.progress { 
  width: 30%;
  height: 4px;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 20px;
  cursor: pointer;
}

.p-bar {
  height: inherit;
  width: var(--progressbar);
  background-color: red;
}

/* song name */
.song-name { 
  margin: 5px;
  overflow: hidden;

}

/* reset player */
.reset-btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  grid-area: 2/1/3/2;

}

.history-btn {
  width: fit-content;
  border-radius: .5rem;
  background-color: transparent;
}
.history-btn svg {
  height: 0.8rem;
  width: 0.8rem;
  color:white;
}
.btn-primary {
  --cui-btn-color: rgb(0, 0, 0);
  --cui-btn-bg: #321fdb;
  --cui-btn-border-color: #db1f1f;
  --cui-btn-hover-color: rgba(255, 255, 255, 0.87);
  --cui-btn-hover-bg: #680000;
  --cui-btn-hover-border-color: #df3535;
  --cui-btn-focus-shadow-rgb: 75,58,223;
  --cui-btn-active-color: rgba(255, 255, 255, 0.87);
  --cui-btn-active-bg: #e24c4c;
  --cui-btn-active-border-color: #4735df;
  --cui-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 21, 0.125);
  --cui-btn-disabled-color: rgba(255, 255, 255, 0.87);
  --cui-btn-disabled-bg: #321fdb;
  --cui-btn-disabled-border-color: #321fdb;
}

input {
  background-color: gray;
  border-radius: 0.5rem;
}
input::placeholder {
  color: whitesmoke;
}

select {
  color: whitesmoke;
  background-color: gray;
  border-radius: 0.5rem;
}

.modal-content {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  width: 30%;
  color: white;
  pointer-events: auto;
  background-color: black;
  background-clip: padding-box;
  border: var(--cui-modal-border-width) solid var(--cui-modal-border-color);
  border-radius: var(--cui-modal-border-radius);
  outline: 0;
}
